@use "../../../assets/styles/variables" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}

.fullWidth {
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: 600;
    color: $navy;
}

.select {
    width: 100%;
    padding: 12px 14px;
    border: 2px solid $lightBlue;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s;
    font-size: 15px;

    &:hover {
        border-color: $navy;
    }
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.arrow {
    transition: 0.2s;
}

.open {
    transform: rotate(180deg);
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 4px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    z-index: 50;
    max-height: 200px;
    overflow-y: auto;
}

.option {
    padding: 10px 14px;
    cursor: pointer;
    transition: 0.15s;

    &:hover {
        background: rgb(180, 180, 180);
    }
}

.selected {
    background: $lightBlue;
    color: green;
}

.errorInput {
    border-color: #d9534f !important;
}

.errorText {
    font-size: 12px;
    color: #d9534f;
}
