@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/breakpoints" as bp;

.howItWorks {
    background: v.$background-primary;
    padding: 80px 0;
}

.inner {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.title {
    font-size: v.$fs-h2;
    margin-bottom: 16px;
    color: v.$navy;
}

.subtitle {
    font-size: 18px;
    opacity: 0.85;
    margin: 0 auto 48px;
    max-width: 650px;
    line-height: 1.6;
    color: v.$navy;
}

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin-top: 20px;
}

.item {
    background: v.$lightBlue;
    border-radius: v.$radius;
    padding: 28px 22px;
    transition: 0.25s ease;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        background: v.$blue;
        transform: translateY(-4px);
        box-shadow: v.$shadow-light;

        .itemTitle,
        .itemText,
        .index {
            color: v.$text-light;
        }

        .index {
            background: v.$button-dark;
        }
    }
}

.index {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: v.$blue;
    color: v.$text-light;
    font-size: 22px;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 14px;
    transition: 0.25s ease;
}

.itemTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: v.$navy;
    transition: 0.25s ease;
}

.itemText {
    font-size: 16px;
    line-height: 1.5;
    color: v.$navy;
    opacity: 0.9;
    transition: 0.25s ease;
    max-width: 250px;
}

@include bp.tablet {
    .steps {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }

    .item {
        padding: 24px 18px;
    }
    .howItWorks {
        padding: 40px 0px;
    }
}
@include bp.small-phone {
    .steps {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .item {
        padding: 22px 16px;
    }

    .itemTitle {
        font-size: 18px;
    }

    .itemText {
        font-size: 15px;
    }
    .howItWorks {
        padding: 30px 0px;
    }
}
