@use "../../../assets/styles/variables" as *;
@use "sass:color";

.rangeControl {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.values {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $text-dark;
}

.trackWrapper {
    position: relative;
    width: 100%;
    height: 34px;
}

.track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 100%;
    background: $lightBlue;
    border-radius: $radius;
}

.activeTrack {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    background: $blue;
    border-radius: $radius;
}

.thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 34px;
    appearance: none;
    background: none;
    pointer-events: none;
}

.thumb::-webkit-slider-thumb {
    pointer-events: auto;
    appearance: none;
    height: 20px;
    width: 20px;
    background: $navy;
    border-radius: 50%;
    border: 3px solid $white;
    box-shadow: $shadow-light;
    cursor: pointer;
}

.thumbLeft {
    z-index: 3;
}

.thumbRight {
    z-index: 3;
}
