.info {
    margin-bottom: 40px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #112d4e;
}

.hot {
    background: #ff3b3b;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 14px;
}

.location {
    margin-top: 10px;
    font-size: 18px;
    color: #3f72af;
}

.rating {
    margin-top: 5px;
    font-size: 18px;
    color: #112d4e;
}

.desc {
    margin-top: 20px;
    line-height: 1.6;
    color: #112d4e;
    font-size: 16px;
    max-width: 800px;
}
