@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/breakpoints" as bp;

.CallToAction {
    padding: 60px 20px;
}

.inner {
    max-width: 1200px;
    text-align: center;
    padding: 20px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }
}

.title {
    font-size: calc(v.$fs-h2 * 1.2);
    font-weight: 700;

    margin-bottom: 20px;
}

.subtitle {
    font-size: v.$fs-base;
    opacity: 0.85;
    line-height: 1.5;
    margin-bottom: 20px;
}

@include bp.tablet {
    .title {
        font-size: calc(v.$fs-h2 * 0.8);
    }
}
