header {
    Container {
        .headerLogo {
            img {
            }
        }
        .navBar {
            .navList {
                li {
                }
            }
        }
    }
}

--isActive {
}
