@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/breakpoints" as bp;

.hero {
    height: 75vh;
    min-height: 600px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../../assets/home/hero-background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: v.$text-light;
    display: flex;
    align-items: center;
}

.heroContainer {
    text-align: center;
    color: v.$text-light;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;
}

.heroTitle {
    color: v.$text-light;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    animation-delay: 0.3s;
}

.heroSubtitle {
    font-size: v.$fs-base;
    opacity: 0.85;
    padding: 0px 15px;
    margin-bottom: 32px;

    animation-delay: 0.15s;
}

Button {
    animation-delay: 0.3s;
}

.heroTitle,
.heroSubtitle,
.heroContainer Button {
    opacity: 1;
    transform: translateY(50px);
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@include bp.tablet {
    .hero {
        height: auto;
        padding: 80px 0;
    }
    .heroTitle {
        font-size: 32px;
    }
    .heroSubtitle {
        font-size: 14px;
    }
}
