@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/breakpoints" as bp;

.hero {
    padding: 80px 0;
    background: linear-gradient(180deg, rgba(249, 247, 247, 1) 0%, rgba(63, 114, 175, 1) 100%);
}
.inner {
    text-align: center;
}

.title {
    margin-bottom: 10px;
    line-height: 1.5;
}
.subtitle {
    font-weight: 500;
}
