.gallery {
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.main img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 12px;

    @media (max-width: 768px) {
        height: 260px;
    }
}

.side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    img {
        width: 100%;
        height: 140px;
        object-fit: cover;
        border-radius: 12px;
    }
}

@media (max-width: 768px) {
    .side {
        flex-direction: row;
        img {
            height: 100px;
            flex: 1;
        }
    }
}
