$break-small: 480px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-desktop: 1280px;
$break-wide: 1440px;
$break-fullhd: 1920px;

@mixin small-phone {
    @media (max-width: $break-small) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $break-tablet) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $break-laptop) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $break-desktop) {
        @content;
    }
}

@mixin wide {
    @media (max-width: $break-wide) {
        @content;
    }
}

@mixin fullhd {
    @media (max-width: $break-fullhd) {
        @content;
    }
}
