@use "sass:color";

$white: #f9f7f7;
$lightBlue: #dbe2ef;
$blue: #3f72af;
$navy: #112d4e;

$text-dark: $navy;
$text-light: #ffffff;

$background-primary: $white;
$background-secondary: $lightBlue;
$accent: $blue;

$button-primary: $blue;
$button-primary-hover: color.adjust($blue, $lightness: -7%);

$button-dark: $navy;
$button-dark-hover: color.adjust($navy, $lightness: 8%);

$border-color: rgba(0, 0, 0, 0.1);
$shadow-light: 0 2px 10px rgba(0, 0, 0, 0.05);

$container-max-width: 1440px;
$container-padding: 20px;

$radius: 12px;
$padding-section: 60px;

$font-main: "Inter", sans-serif;
$font-heading: "Poppins", sans-serif;

$fs-base: 18px;
$lh-base: 1.5;
$fw-base: 400;

$fs-h1: 48px;
$fs-h2: 36px;
$fs-h3: 28px;
$fs-h4: 22px;
$fs-h5: 18px;
$fs-h6: 16px;
