@use "../../../assets/styles/variables" as v;
@use "../../../assets/styles/breakpoints" as bp;

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: v.$background-primary;
}

.footerInner {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
}

.footerBrand {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 250px;
    align-items: center;
}

.footerLogo {
    height: 100px;

    img {
        height: 100%;
        width: auto;
    }
}

.footerTitle {
    font-size: 16px;
    text-align: center;
}

.footerContacts {
    padding: 0px 20px;
}

.footerLabel {
    font-weight: 700;
}

.footerSocial {
    display: flex;
    gap: 12px;
    align-items: center;

    img {
        height: 50px;
        width: auto;
        opacity: 0.9;
        transition: opacity 0.2s ease;
        transform-origin: top center;

        &:hover {
            opacity: 1;
            animation: ding-dong 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
    }
}
@keyframes ding-dong {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(25deg);
    }
    30% {
        transform: rotate(-20deg);
    }
    45% {
        transform: rotate(12deg);
    }
    60% {
        transform: rotate(-8deg);
    }
    75% {
        transform: rotate(4deg);
    }
    85% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0);
        scale: 1.5;
    }
}

.footerCopy {
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid v.$border-color;
    opacity: 0.8;
}

@include bp.tablet {
    .footer {
        margin-top: 15px;
    }
    .footerBrand {
        gap: 8px;
        max-width: 150px;
    }

    .footerLogo {
        height: 50px;
    }
    .footerTitle {
        font-size: 14px;
    }
    .footerContacts {
        padding: 5px 0px;
    }
    .footerSocial {
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 0px 20px;
    }
    .footerInner {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}
